[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=LPub3D
GenericName=An LDraw Building Instruction Editor
Comment=An LDraw Building Instruction Editor
Comment[fr]=Un éditeur d'instructions de construction LDraw
Comment[it]=Un editor di istruzioni LDraw Edilizia
Comment[es]=Un editor de instrucciones de construcción LDraw
Exec=lpub3d20 %f
Terminal=false
Type=Application
Icon=lpub3d
MimeType=application/x-ldraw;application/x-multi-part-ldraw;application/x-multipart-ldraw;
Categories=Graphics;3DGraphics;Education;Application;Amusement;Publishing;Engineering;
Keywords=;Instructions;CAD;LEGO;LDraw;Renderer;Editor;
