* text=auto !eol
core/LPub.icns -text
core/LPub.ico -text
core/LPub3D.pro -text
core/aboutdialog.cpp -text
core/aboutdialog.h -text
core/aboutdialog.ui -text
core/annotations.cpp -text
core/annotations.h -text
core/assemglobals.cpp -text
core/backgrounddialog.cpp -text
core/backgrounddialog.h -text
core/backgrounditem.cpp -text
core/backgrounditem.h -text
core/borderdialog.cpp -text
core/borderdialog.h -text
core/build.h -text
core/callout.cpp -text
core/callout.h -text
core/calloutbackgrounditem.cpp -text
core/calloutbackgrounditem.h -text
core/calloutglobals.cpp -text
core/color.cpp -text
core/color.h -text
core/commands.cpp -text
core/commands.h -text
core/commonmenus.cpp -text
core/commonmenus.h -text
core/csiitem.cpp -text
core/csiitem.h -text
core/dependencies.cpp -text
core/dependencies.h -text
core/dividerdialog.cpp -text
core/dividerdialog.h -text
core/editwindow.cpp -text
core/editwindow.h -text
core/extras/LPub64.ico -text
core/extras/LPubV-Config-Notes.txt -text
core/extras/fadeStepColorParts.lst -text
core/extras/freeformAnnotations.lst -text
core/extras/lcLDrawArchive.bat -text
core/extras/pli.mpd -text
core/extras/titleAnnotations.lst -text
core/fadestepcolorparts.cpp -text
core/fadestepcolorparts.h -text
core/fadestepglobals.cpp -text
core/formatpage.cpp -text
core/globals.h -text
core/glwidget.cpp -text
core/glwidget.h -text
core/highlighter.cpp -text
core/highlighter.h -text
core/lc_lib/common/camera.cpp -text
core/lc_lib/common/camera.h -text
core/lc_lib/common/debug.cpp -text
core/lc_lib/common/debug.h -text
core/lc_lib/common/group.cpp -text
core/lc_lib/common/group.h -text
core/lc_lib/common/image.cpp -text
core/lc_lib/common/image.h -text
core/lc_lib/common/lc_application.cpp -text
core/lc_lib/common/lc_application.h -text
core/lc_lib/common/lc_array.h -text
core/lc_lib/common/lc_basewindow.h -text
core/lc_lib/common/lc_category.cpp -text
core/lc_lib/common/lc_category.h -text
core/lc_lib/common/lc_colors.cpp -text
core/lc_lib/common/lc_colors.h -text
core/lc_lib/common/lc_commands.cpp -text
core/lc_lib/common/lc_commands.h -text
core/lc_lib/common/lc_context.cpp -text
core/lc_lib/common/lc_context.h -text
core/lc_lib/common/lc_file.cpp -text
core/lc_lib/common/lc_file.h -text
core/lc_lib/common/lc_glext.h -text
core/lc_lib/common/lc_glextensions.cpp -text
core/lc_lib/common/lc_glextensions.h -text
core/lc_lib/common/lc_global.cpp -text
core/lc_lib/common/lc_global.h -text
core/lc_lib/common/lc_glwidget.h -text
core/lc_lib/common/lc_library.cpp -text
core/lc_lib/common/lc_library.h -text
core/lc_lib/common/lc_mainwindow.cpp -text
core/lc_lib/common/lc_mainwindow.h -text
core/lc_lib/common/lc_math.h -text
core/lc_lib/common/lc_mesh.cpp -text
core/lc_lib/common/lc_mesh.h -text
core/lc_lib/common/lc_model.cpp -text
core/lc_lib/common/lc_model.h -text
core/lc_lib/common/lc_profile.cpp -text
core/lc_lib/common/lc_profile.h -text
core/lc_lib/common/lc_shortcuts.cpp -text
core/lc_lib/common/lc_shortcuts.h -text
core/lc_lib/common/lc_texture.cpp -text
core/lc_lib/common/lc_texture.h -text
core/lc_lib/common/lc_timelinewidget.cpp -text
core/lc_lib/common/lc_timelinewidget.h -text
core/lc_lib/common/lc_zipfile.cpp -text
core/lc_lib/common/lc_zipfile.h -text
core/lc_lib/common/light.cpp -text
core/lc_lib/common/light.h -text
core/lc_lib/common/minifig.cpp -text
core/lc_lib/common/minifig.h -text
core/lc_lib/common/object.cpp -text
core/lc_lib/common/object.h -text
core/lc_lib/common/piece.cpp -text
core/lc_lib/common/piece.h -text
core/lc_lib/common/pieceinf.cpp -text
core/lc_lib/common/pieceinf.h -text
core/lc_lib/common/preview.cpp -text
core/lc_lib/common/preview.h -text
core/lc_lib/common/project.cpp -text
core/lc_lib/common/project.h -text
core/lc_lib/common/str.cpp -text
core/lc_lib/common/str.h -text
core/lc_lib/common/system.h -text
core/lc_lib/common/texfont.cpp -text
core/lc_lib/common/texfont.h -text
core/lc_lib/common/tr.cpp -text
core/lc_lib/common/tr.h -text
core/lc_lib/common/view.cpp -text
core/lc_lib/common/view.h -text
core/lc_lib/docs/COPYING.txt -text
core/lc_lib/docs/CREDITS.txt -text
core/lc_lib/qt/Info.plist -text
core/lc_lib/qt/lc_qaboutdialog.cpp -text
core/lc_lib/qt/lc_qaboutdialog.h -text
core/lc_lib/qt/lc_qaboutdialog.ui -text
core/lc_lib/qt/lc_qarraydialog.cpp -text
core/lc_lib/qt/lc_qarraydialog.h -text
core/lc_lib/qt/lc_qarraydialog.ui -text
core/lc_lib/qt/lc_qcategorydialog.cpp -text
core/lc_lib/qt/lc_qcategorydialog.h -text
core/lc_lib/qt/lc_qcategorydialog.ui -text
core/lc_lib/qt/lc_qcolorlist.cpp -text
core/lc_lib/qt/lc_qcolorlist.h -text
core/lc_lib/qt/lc_qcolorpicker.cpp -text
core/lc_lib/qt/lc_qcolorpicker.h -text
core/lc_lib/qt/lc_qeditgroupsdialog.cpp -text
core/lc_lib/qt/lc_qeditgroupsdialog.h -text
core/lc_lib/qt/lc_qeditgroupsdialog.ui -text
core/lc_lib/qt/lc_qfinddialog.cpp -text
core/lc_lib/qt/lc_qfinddialog.h -text
core/lc_lib/qt/lc_qfinddialog.ui -text
core/lc_lib/qt/lc_qglwidget.cpp -text
core/lc_lib/qt/lc_qglwidget.h -text
core/lc_lib/qt/lc_qgroupdialog.cpp -text
core/lc_lib/qt/lc_qgroupdialog.h -text
core/lc_lib/qt/lc_qgroupdialog.ui -text
core/lc_lib/qt/lc_qhtmldialog.cpp -text
core/lc_lib/qt/lc_qhtmldialog.h -text
core/lc_lib/qt/lc_qhtmldialog.ui -text
core/lc_lib/qt/lc_qimagedialog.cpp -text
core/lc_lib/qt/lc_qimagedialog.h -text
core/lc_lib/qt/lc_qimagedialog.ui -text
core/lc_lib/qt/lc_qminifigdialog.cpp -text
core/lc_lib/qt/lc_qminifigdialog.h -text
core/lc_lib/qt/lc_qminifigdialog.ui -text
core/lc_lib/qt/lc_qmodellistdialog.cpp -text
core/lc_lib/qt/lc_qmodellistdialog.h -text
core/lc_lib/qt/lc_qmodellistdialog.ui -text
core/lc_lib/qt/lc_qpartstree.cpp -text
core/lc_lib/qt/lc_qpartstree.h -text
core/lc_lib/qt/lc_qpovraydialog.cpp -text
core/lc_lib/qt/lc_qpovraydialog.h -text
core/lc_lib/qt/lc_qpovraydialog.ui -text
core/lc_lib/qt/lc_qpreferencesdialog.cpp -text
core/lc_lib/qt/lc_qpreferencesdialog.h -text
core/lc_lib/qt/lc_qpreferencesdialog.ui -text
core/lc_lib/qt/lc_qpropertiesdialog.cpp -text
core/lc_lib/qt/lc_qpropertiesdialog.h -text
core/lc_lib/qt/lc_qpropertiesdialog.ui -text
core/lc_lib/qt/lc_qpropertiestree.cpp -text
core/lc_lib/qt/lc_qpropertiestree.h -text
core/lc_lib/qt/lc_qselectdialog.cpp -text
core/lc_lib/qt/lc_qselectdialog.h -text
core/lc_lib/qt/lc_qselectdialog.ui -text
core/lc_lib/qt/lc_qupdatedialog.cpp -text
core/lc_lib/qt/lc_qupdatedialog.h -text
core/lc_lib/qt/lc_qupdatedialog.ui -text
core/lc_lib/qt/lc_qutils.cpp -text
core/lc_lib/qt/lc_qutils.h -text
core/lc_lib/qt/leocad.desktop -text
core/lc_lib/qt/leocad.rc -text
core/lc_lib/qt/leocad.xml -text
core/lc_lib/qt/system.cpp -text
core/lc_lib/resources/action_camera.png -text
core/lc_lib/resources/action_delete.png -text
core/lc_lib/resources/action_insert.png -text
core/lc_lib/resources/action_light.png -text
core/lc_lib/resources/action_move.png -text
core/lc_lib/resources/action_next.png -text
core/lc_lib/resources/action_paint.png -text
core/lc_lib/resources/action_pan.png -text
core/lc_lib/resources/action_previous.png -text
core/lc_lib/resources/action_roll.png -text
core/lc_lib/resources/action_rotate.png -text
core/lc_lib/resources/action_rotate_view.png -text
core/lc_lib/resources/action_select.png -text
core/lc_lib/resources/action_spotlight.png -text
core/lc_lib/resources/action_zoom.png -text
core/lc_lib/resources/action_zoom_extents.png -text
core/lc_lib/resources/action_zoom_region.png -text
core/lc_lib/resources/cursor_camera.png -text
core/lc_lib/resources/cursor_delete.png -text
core/lc_lib/resources/cursor_insert.png -text
core/lc_lib/resources/cursor_light.png -text
core/lc_lib/resources/cursor_move.png -text
core/lc_lib/resources/cursor_paint.png -text
core/lc_lib/resources/cursor_pan.png -text
core/lc_lib/resources/cursor_roll.png -text
core/lc_lib/resources/cursor_rotate.png -text
core/lc_lib/resources/cursor_rotate_view.png -text
core/lc_lib/resources/cursor_rotatex.png -text
core/lc_lib/resources/cursor_rotatey.png -text
core/lc_lib/resources/cursor_select.png -text
core/lc_lib/resources/cursor_select_multiple.png -text
core/lc_lib/resources/cursor_spotlight.png -text
core/lc_lib/resources/cursor_zoom.png -text
core/lc_lib/resources/cursor_zoom_region.png -text
core/lc_lib/resources/edit_copy.png -text
core/lc_lib/resources/edit_cut.png -text
core/lc_lib/resources/edit_lock.png -text
core/lc_lib/resources/edit_paste.png -text
core/lc_lib/resources/edit_redo.png -text
core/lc_lib/resources/edit_rotatestep_absolute_rotation.png -text
core/lc_lib/resources/edit_rotatestep_relative_rotation.png -text
core/lc_lib/resources/edit_snap_angle.png -text
core/lc_lib/resources/edit_snap_move.png -text
core/lc_lib/resources/edit_transform_absolute_rotation.png -text
core/lc_lib/resources/edit_transform_absolute_translation.png -text
core/lc_lib/resources/edit_transform_relative.png -text
core/lc_lib/resources/edit_transform_relative_rotation.png -text
core/lc_lib/resources/edit_transform_relative_translation.png -text
core/lc_lib/resources/edit_undo.png -text
core/lc_lib/resources/file_new.png -text
core/lc_lib/resources/file_open.png -text
core/lc_lib/resources/file_picture.png -text
core/lc_lib/resources/file_print.png -text
core/lc_lib/resources/file_print_preview.png -text
core/lc_lib/resources/file_save.png -text
core/lc_lib/resources/help_email.png -text
core/lc_lib/resources/help_homepage.png -text
core/lc_lib/resources/icon64.png -text
core/lc_lib/resources/leocad.icns -text
core/lc_lib/resources/leocad.ico -text
core/lc_lib/resources/leocad_document.icns -text
core/lc_lib/resources/leocad_pt.qm -text
core/lc_lib/resources/leocad_pt.ts -text
core/lc_lib/resources/library.zip -text
core/lc_lib/resources/piece_show_earlier.png -text
core/lc_lib/resources/piece_show_later.png -text
core/lc_lib/resources/time_add_keys.png -text
core/lc_lib/resources/time_first.png -text
core/lc_lib/resources/time_last.png -text
core/lc_lib/resources/time_next.png -text
core/lc_lib/resources/time_previous.png -text
core/lc_lib/resources/time_stop.png -text
core/lc_lib/resources/view_split_horizontal.png -text
core/lc_lib/resources/view_split_vertical.png -text
core/lc_lib/resources/view_zoomextents.png -text
core/lc_lib/tools/icon/document-128.png -text
core/lc_lib/tools/icon/document-16.png -text
core/lc_lib/tools/icon/document-256.png -text
core/lc_lib/tools/icon/document-32.png -text
core/lc_lib/tools/icon/document-512.png -text
core/lc_lib/tools/icon/document-64.png -text
core/lc_lib/tools/icon/leocad-128.png -text
core/lc_lib/tools/icon/leocad-16.png -text
core/lc_lib/tools/icon/leocad-24.png -text
core/lc_lib/tools/icon/leocad-256.png -text
core/lc_lib/tools/icon/leocad-32.png -text
core/lc_lib/tools/icon/leocad-48.png -text
core/lc_lib/tools/icon/leocad-512.png -text
core/lc_lib/tools/icon/leocad-64.png -text
core/lc_lib/tools/setup/setup.ico -text
core/lc_lib/tools/utils/bin2c.c -text
core/lc_lib/tools/utils/partsgen.cpp -text
core/lc_lib/tools/utils/zpipe.c -text
core/ldrawfiles.cpp -text
core/ldrawfiles.h -text
core/license.gpl3 -text
core/lpub.cpp -text
core/lpub.h -text
core/lpub.qrc -text
core/lpub.rc -text
core/lpub.res -text
core/lpub_preferences.cpp -text
core/lpub_preferences.h -text
core/main.cpp -text
core/meta.cpp -text
core/meta.h -text
core/metagui.cpp -text
core/metagui.h -text
core/metaitem.cpp -text
core/metaitem.h -text
core/metatypes.h -text
core/multistepglobals.cpp -text
core/name.h -text
core/numberitem.cpp -text
core/numberitem.h -text
core/openclose.cpp -text
core/pagebackgrounditem.cpp -text
core/pagebackgrounditem.h -text
core/pageglobals.cpp -text
core/pairdialog.cpp -text
core/pairdialog.h -text
core/partslist.cpp -text
core/partslist.h -text
core/paths.cpp -text
core/paths.h -text
core/placement.cpp -text
core/placement.h -text
core/placementdialog.cpp -text
core/placementdialog.h -text
core/pli.cpp -text
core/pli.h -text
core/pliconstraindialog.cpp -text
core/pliconstraindialog.h -text
core/pliglobals.cpp -text
core/pointer.h -text
core/pointeritem.cpp -text
core/pointeritem.h -text
core/preferences.ui -text
core/preferencesdialog.cpp -text
core/preferencesdialog.h -text
core/printpdf.cpp -text
core/projectglobals.cpp -text
core/range.cpp -text
core/range.h -text
core/range_element.cpp -text
core/range_element.h -text
core/ranges.cpp -text
core/ranges.h -text
core/ranges_element.cpp -text
core/ranges_element.h -text
core/ranges_item.cpp -text
core/ranges_item.h -text
core/render.cpp -text
core/render.h -text
core/reserve.h -text
core/resize.cpp -text
core/resize.h -text
core/resolution.cpp -text
core/resolution.h -text
core/rotate.cpp -text
core/rx.cpp -text
core/rx.h -text
core/scaledialog.cpp -text
core/scaledialog.h -text
core/step.cpp -text
core/step.h -text
core/textitem.cpp -text
core/textitem.h -text
core/tools/Win-setup/01[!!-~]PackLPub3D_x32.bat -text
core/tools/Win-setup/01[!!-~]PackLPub3D_x64.bat -text
core/tools/Win-setup/02[!!-~]LPub3D.nsi -text
core/tools/Win-setup/LPub3D_x32.evb -text
core/tools/Win-setup/LPub3D_x64.evb -text
core/tools/Win-setup/build_inc.bat -text
core/tools/Win-setup/build_inc_x32.bat -text
core/tools/Win-setup/build_inc_x64.bat -text
core/tools/Win-setup/setup.ico -text
core/tools/Win-setup/welcome.bmp -text
core/tools/docs/COPYING.txt -text
core/tools/docs/CREDITS.txt -text
core/tools/docs/README.txt -text
core/tools/icon/LPub.icns -text
core/tools/icon/LPub.ico -text
core/tools/icon/LPub128.png -text
core/tools/icon/LPub16.png -text
core/tools/icon/LPub256.png -text
core/tools/icon/LPub32.png -text
core/tools/icon/LPub48.png -text
core/tools/icon/LPub512.png -text
core/tools/icon/LPub64.ico -text
core/tools/icon/LPub64.png -text
core/tools/icon/setup.icns -text
core/tools/icon/setup.ico -text
core/traverse.cpp -text
core/undoredo.cpp -text
core/updatedialog.cpp -text
core/updatedialog.h -text
core/updatedialog.ui -text
core/version.h -text
core/where.h -text
