* text=auto !eol
/LPub.icns -text
/LPub.ico -text
/annotations.cpp -text
/annotations.h -text
/assemglobals.cpp -text
/backgrounddialog.cpp -text
/backgrounddialog.h -text
/backgrounditem.cpp -text
/backgrounditem.h -text
/borderdialog.cpp -text
/borderdialog.h -text
/callout.cpp -text
/callout.h -text
/calloutbackgrounditem.cpp -text
/calloutbackgrounditem.h -text
/calloutglobals.cpp -text
/color.cpp -text
/color.h -text
/commands.cpp -text
/commands.h -text
/commonmenus.cpp -text
/commonmenus.h -text
/csiitem.cpp -text
/csiitem.h -text
/dependencies.cpp -text
/dependencies.h -text
/dividerdialog.cpp -text
/dividerdialog.h -text
/editwindow.cpp -text
/editwindow.h -text
extras/customAnnotations.lst -text
extras/pli.mpd -text
extras/titleannotations.lst -text
/fadestepglobals.cpp -text
/formatpage.cpp -text
/globals.h -text
/glwidget.cpp -text
/glwidget.h -text
/highlighter.cpp -text
/highlighter.h -text
images/Thumbs.db -text
images/actual.png -text
images/copy.png -text
images/cut.png -text
images/editredo.png -text
images/editundo.png -text
images/first.png -text
images/fitPage.png -text
images/fitVisible.png -text
images/fitWidth.png -text
images/last.png -text
images/minus.png -text
images/new.png -text
images/next.png -text
images/open.png -text
images/paste.png -text
images/pdf_logo.png -text
images/plus.png -text
images/prev.png -text
images/print.png -text
images/redraw.png -text
images/save.png -text
images/zoomin.png -text
images/zoomout.png -text
lc_lib/common/camera.cpp -text
lc_lib/common/camera.h -text
lc_lib/common/debug.cpp -text
lc_lib/common/debug.h -text
lc_lib/common/group.cpp -text
lc_lib/common/group.h -text
lc_lib/common/image.cpp -text
lc_lib/common/image.h -text
lc_lib/common/lc_application.cpp -text
lc_lib/common/lc_application.h -text
lc_lib/common/lc_array.h -text
lc_lib/common/lc_basewindow.h -text
lc_lib/common/lc_category.cpp -text
lc_lib/common/lc_category.h -text
lc_lib/common/lc_colors.cpp -text
lc_lib/common/lc_colors.h -text
lc_lib/common/lc_commands.cpp -text
lc_lib/common/lc_commands.h -text
lc_lib/common/lc_context.cpp -text
lc_lib/common/lc_context.h -text
lc_lib/common/lc_file.cpp -text
lc_lib/common/lc_file.h -text
lc_lib/common/lc_global.cpp -text
lc_lib/common/lc_global.h -text
lc_lib/common/lc_glwidget.h -text
lc_lib/common/lc_library.cpp -text
lc_lib/common/lc_library.h -text
lc_lib/common/lc_mainwindow.cpp -text
lc_lib/common/lc_mainwindow.h -text
lc_lib/common/lc_math.h -text
lc_lib/common/lc_mesh.cpp -text
lc_lib/common/lc_mesh.h -text
lc_lib/common/lc_model.cpp -text
lc_lib/common/lc_model.h -text
lc_lib/common/lc_profile.cpp -text
lc_lib/common/lc_profile.h -text
lc_lib/common/lc_shortcuts.cpp -text
lc_lib/common/lc_shortcuts.h -text
lc_lib/common/lc_texture.cpp -text
lc_lib/common/lc_texture.h -text
lc_lib/common/lc_zipfile.cpp -text
lc_lib/common/lc_zipfile.h -text
lc_lib/common/light.cpp -text
lc_lib/common/light.h -text
lc_lib/common/minifig.cpp -text
lc_lib/common/minifig.h -text
lc_lib/common/object.cpp -text
lc_lib/common/object.h -text
lc_lib/common/opengl.cpp -text
lc_lib/common/opengl.h -text
lc_lib/common/piece.cpp -text
lc_lib/common/piece.h -text
lc_lib/common/pieceinf.cpp -text
lc_lib/common/pieceinf.h -text
lc_lib/common/preview.cpp -text
lc_lib/common/preview.h -text
lc_lib/common/project.cpp -text
lc_lib/common/project.h -text
lc_lib/common/str.cpp -text
lc_lib/common/str.h -text
lc_lib/common/system.h -text
lc_lib/common/texfont.cpp -text
lc_lib/common/texfont.h -text
lc_lib/common/tr.cpp -text
lc_lib/common/tr.h -text
lc_lib/common/view.cpp -text
lc_lib/common/view.h -text
lc_lib/docs/COPYING.txt -text
lc_lib/docs/CREDITS.txt -text
lc_lib/qt/Info.plist -text
lc_lib/qt/lc_config.h -text
lc_lib/qt/lc_qaboutdialog.cpp -text
lc_lib/qt/lc_qaboutdialog.h -text
lc_lib/qt/lc_qaboutdialog.ui -text
lc_lib/qt/lc_qapplication.cpp -text
lc_lib/qt/lc_qarraydialog.cpp -text
lc_lib/qt/lc_qarraydialog.h -text
lc_lib/qt/lc_qarraydialog.ui -text
lc_lib/qt/lc_qcategorydialog.cpp -text
lc_lib/qt/lc_qcategorydialog.h -text
lc_lib/qt/lc_qcategorydialog.ui -text
lc_lib/qt/lc_qcolorlist.cpp -text
lc_lib/qt/lc_qcolorlist.h -text
lc_lib/qt/lc_qcolorpicker.cpp -text
lc_lib/qt/lc_qcolorpicker.h -text
lc_lib/qt/lc_qeditgroupsdialog.cpp -text
lc_lib/qt/lc_qeditgroupsdialog.h -text
lc_lib/qt/lc_qeditgroupsdialog.ui -text
lc_lib/qt/lc_qfinddialog.cpp -text
lc_lib/qt/lc_qfinddialog.h -text
lc_lib/qt/lc_qfinddialog.ui -text
lc_lib/qt/lc_qglwidget.cpp -text
lc_lib/qt/lc_qglwidget.h -text
lc_lib/qt/lc_qgroupdialog.cpp -text
lc_lib/qt/lc_qgroupdialog.h -text
lc_lib/qt/lc_qgroupdialog.ui -text
lc_lib/qt/lc_qhtmldialog.cpp -text
lc_lib/qt/lc_qhtmldialog.h -text
lc_lib/qt/lc_qhtmldialog.ui -text
lc_lib/qt/lc_qimage.cpp -text
lc_lib/qt/lc_qimagedialog.cpp -text
lc_lib/qt/lc_qimagedialog.h -text
lc_lib/qt/lc_qimagedialog.ui -text
lc_lib/qt/lc_qmainwindow.cpp -text
lc_lib/qt/lc_qmainwindow.h -text
lc_lib/qt/lc_qminifigdialog.cpp -text
lc_lib/qt/lc_qminifigdialog.h -text
lc_lib/qt/lc_qminifigdialog.ui -text
lc_lib/qt/lc_qmodellistdialog.cpp -text
lc_lib/qt/lc_qmodellistdialog.h -text
lc_lib/qt/lc_qmodellistdialog.ui -text
lc_lib/qt/lc_qpartstree.cpp -text
lc_lib/qt/lc_qpartstree.h -text
lc_lib/qt/lc_qpovraydialog.cpp -text
lc_lib/qt/lc_qpovraydialog.h -text
lc_lib/qt/lc_qpovraydialog.ui -text
lc_lib/qt/lc_qpreferencesdialog.cpp -text
lc_lib/qt/lc_qpreferencesdialog.h -text
lc_lib/qt/lc_qpreferencesdialog.ui -text
lc_lib/qt/lc_qprofile.cpp -text
lc_lib/qt/lc_qpropertiesdialog.cpp -text
lc_lib/qt/lc_qpropertiesdialog.h -text
lc_lib/qt/lc_qpropertiesdialog.ui -text
lc_lib/qt/lc_qpropertiestree.cpp -text
lc_lib/qt/lc_qpropertiestree.h -text
lc_lib/qt/lc_qselectdialog.cpp -text
lc_lib/qt/lc_qselectdialog.h -text
lc_lib/qt/lc_qselectdialog.ui -text
lc_lib/qt/lc_qupdatedialog.cpp -text
lc_lib/qt/lc_qupdatedialog.h -text
lc_lib/qt/lc_qupdatedialog.ui -text
lc_lib/qt/lc_qutils.cpp -text
lc_lib/qt/lc_qutils.h -text
lc_lib/qt/leocad.rc -text
lc_lib/qt/system.cpp -text
lc_lib/resources/Thumbs.db -text
lc_lib/resources/action_camera.png -text
lc_lib/resources/action_delete.png -text
lc_lib/resources/action_insert.png -text
lc_lib/resources/action_light.png -text
lc_lib/resources/action_move.png -text
lc_lib/resources/action_next.png -text
lc_lib/resources/action_paint.png -text
lc_lib/resources/action_pan.png -text
lc_lib/resources/action_previous.png -text
lc_lib/resources/action_roll.png -text
lc_lib/resources/action_rotate.png -text
lc_lib/resources/action_rotate_view.png -text
lc_lib/resources/action_select.png -text
lc_lib/resources/action_spotlight.png -text
lc_lib/resources/action_zoom.png -text
lc_lib/resources/action_zoom_extents.png -text
lc_lib/resources/action_zoom_region.png -text
lc_lib/resources/cursor_camera.png -text
lc_lib/resources/cursor_delete.png -text
lc_lib/resources/cursor_insert.png -text
lc_lib/resources/cursor_light.png -text
lc_lib/resources/cursor_move.png -text
lc_lib/resources/cursor_paint.png -text
lc_lib/resources/cursor_pan.png -text
lc_lib/resources/cursor_roll.png -text
lc_lib/resources/cursor_rotate.png -text
lc_lib/resources/cursor_rotate_view.png -text
lc_lib/resources/cursor_rotatex.png -text
lc_lib/resources/cursor_rotatey.png -text
lc_lib/resources/cursor_select.png -text
lc_lib/resources/cursor_select_multiple.png -text
lc_lib/resources/cursor_spotlight.png -text
lc_lib/resources/cursor_zoom.png -text
lc_lib/resources/cursor_zoom_region.png -text
lc_lib/resources/edit_copy.png -text
lc_lib/resources/edit_cut.png -text
lc_lib/resources/edit_lock.png -text
lc_lib/resources/edit_paste.png -text
lc_lib/resources/edit_redo.png -text
lc_lib/resources/edit_snap_angle.png -text
lc_lib/resources/edit_snap_move.png -text
lc_lib/resources/edit_transform_absolute_rotation.png -text
lc_lib/resources/edit_transform_absolute_translation.png -text
lc_lib/resources/edit_transform_relative_rotation.png -text
lc_lib/resources/edit_transform_relative_translation.png -text
lc_lib/resources/edit_undo.png -text
lc_lib/resources/file_new.png -text
lc_lib/resources/file_open.png -text
lc_lib/resources/file_picture.png -text
lc_lib/resources/file_print.png -text
lc_lib/resources/file_print_preview.png -text
lc_lib/resources/file_save.png -text
lc_lib/resources/help_email.png -text
lc_lib/resources/help_homepage.png -text
lc_lib/resources/icon64.png -text
lc_lib/resources/leocad.icns -text
lc_lib/resources/leocad.ico -text
lc_lib/resources/leocad_document.icns -text
lc_lib/resources/leocad_pt.qm -text
lc_lib/resources/leocad_pt.ts -text
lc_lib/resources/library.zip -text
lc_lib/resources/piece_show_earlier.png -text
lc_lib/resources/piece_show_later.png -text
lc_lib/resources/time_add_keys.png -text
lc_lib/resources/time_first.png -text
lc_lib/resources/time_last.png -text
lc_lib/resources/time_next.png -text
lc_lib/resources/time_previous.png -text
lc_lib/resources/time_stop.png -text
lc_lib/resources/view_split_horizontal.png -text
lc_lib/resources/view_split_vertical.png -text
lc_lib/resources/view_zoomextents.png -text
lc_lib/tools/icon/document-128.png -text
lc_lib/tools/icon/document-16.png -text
lc_lib/tools/icon/document-256.png -text
lc_lib/tools/icon/document-32.png -text
lc_lib/tools/icon/document-512.png -text
lc_lib/tools/icon/document-64.png -text
lc_lib/tools/icon/leocad-128.png -text
lc_lib/tools/icon/leocad-16.png -text
lc_lib/tools/icon/leocad-24.png -text
lc_lib/tools/icon/leocad-256.png -text
lc_lib/tools/icon/leocad-32.png -text
lc_lib/tools/icon/leocad-48.png -text
lc_lib/tools/icon/leocad-512.png -text
lc_lib/tools/icon/leocad-64.png -text
lc_lib/tools/setup/setup.ico -text
lc_lib/tools/utils/bin2c.c -text
lc_lib/tools/utils/partsgen.cpp -text
lc_lib/tools/utils/zpipe.c -text
/ldrawfiles.cpp -text
/ldrawfiles.h -text
/license.gpl3 -text
/lpub.cpp -text
/lpub.h -text
/lpub.qrc -text
/lpub.rc -text
/lpub.res -text
/lpub410.pro -text
/lpub_preferences.cpp -text
/lpub_preferences.h -text
/main.cpp -text
/meta.cpp -text
/meta.h -text
/metagui.cpp -text
/metagui.h -text
/metaitem.cpp -text
/metaitem.h -text
/metatypes.h -text
/multistepglobals.cpp -text
/name.h -text
/numberitem.cpp -text
/numberitem.h -text
/openclose.cpp -text
/pagebackgrounditem.cpp -text
/pagebackgrounditem.h -text
/pageglobals.cpp -text
/pairdialog.cpp -text
/pairdialog.h -text
/partslist.cpp -text
/partslist.h -text
/paths.cpp -text
/paths.h -text
/placement.cpp -text
/placement.h -text
/placementdialog.cpp -text
/placementdialog.h -text
/pli.cpp -text
/pli.h -text
/pliconstraindialog.cpp -text
/pliconstraindialog.h -text
/pliglobals.cpp -text
/pointer.h -text
/pointeritem.cpp -text
/pointeritem.h -text
/preferences.ui -text
/preferencesdialog.cpp -text
/preferencesdialog.h -text
/printpdf.cpp -text
/projectglobals.cpp -text
/range.cpp -text
/range.h -text
/range_element.cpp -text
/range_element.h -text
/ranges.cpp -text
/ranges.h -text
/ranges_element.cpp -text
/ranges_element.h -text
/ranges_item.cpp -text
/ranges_item.h -text
/render.cpp -text
/render.h -text
/reserve.h -text
/resize.cpp -text
/resize.h -text
/resolution.cpp -text
/resolution.h -text
/rotate.cpp -text
/rx.cpp -text
/rx.h -text
/scaledialog.cpp -text
/scaledialog.h -text
/step.cpp -text
/step.h -text
/textitem.cpp -text
/textitem.h -text
/traverse.cpp -text
/undoredo.cpp -text
/where.h -text
