* text=auto !eol
/LPub3D.pro -text
lc_lib/Lc_Lib.pri -text
lc_lib/common/camera.cpp -text
lc_lib/common/camera.h -text
lc_lib/common/debug.cpp -text
lc_lib/common/debug.h -text
lc_lib/common/group.cpp -text
lc_lib/common/group.h -text
lc_lib/common/image.cpp -text
lc_lib/common/image.h -text
lc_lib/common/lc_application.cpp -text
lc_lib/common/lc_application.h -text
lc_lib/common/lc_array.h -text
lc_lib/common/lc_basewindow.h -text
lc_lib/common/lc_category.cpp -text
lc_lib/common/lc_category.h -text
lc_lib/common/lc_colors.cpp -text
lc_lib/common/lc_colors.h -text
lc_lib/common/lc_commands.cpp -text
lc_lib/common/lc_commands.h -text
lc_lib/common/lc_context.cpp -text
lc_lib/common/lc_context.h -text
lc_lib/common/lc_file.cpp -text
lc_lib/common/lc_file.h -text
lc_lib/common/lc_glext.h -text
lc_lib/common/lc_glextensions.cpp -text
lc_lib/common/lc_glextensions.h -text
lc_lib/common/lc_global.cpp -text
lc_lib/common/lc_global.h -text
lc_lib/common/lc_glwidget.h -text
lc_lib/common/lc_library.cpp -text
lc_lib/common/lc_library.h -text
lc_lib/common/lc_mainwindow.cpp -text
lc_lib/common/lc_mainwindow.h -text
lc_lib/common/lc_math.h -text
lc_lib/common/lc_mesh.cpp -text
lc_lib/common/lc_mesh.h -text
lc_lib/common/lc_model.cpp -text
lc_lib/common/lc_model.h -text
lc_lib/common/lc_profile.cpp -text
lc_lib/common/lc_profile.h -text
lc_lib/common/lc_shortcuts.cpp -text
lc_lib/common/lc_shortcuts.h -text
lc_lib/common/lc_texture.cpp -text
lc_lib/common/lc_texture.h -text
lc_lib/common/lc_timelinewidget.cpp -text
lc_lib/common/lc_timelinewidget.h -text
lc_lib/common/lc_zipfile.cpp -text
lc_lib/common/lc_zipfile.h -text
lc_lib/common/light.cpp -text
lc_lib/common/light.h -text
lc_lib/common/minifig.cpp -text
lc_lib/common/minifig.h -text
lc_lib/common/object.cpp -text
lc_lib/common/object.h -text
lc_lib/common/piece.cpp -text
lc_lib/common/piece.h -text
lc_lib/common/pieceinf.cpp -text
lc_lib/common/pieceinf.h -text
lc_lib/common/preview.cpp -text
lc_lib/common/preview.h -text
lc_lib/common/project.cpp -text
lc_lib/common/project.h -text
lc_lib/common/str.cpp -text
lc_lib/common/str.h -text
lc_lib/common/system.h -text
lc_lib/common/texfont.cpp -text
lc_lib/common/texfont.h -text
lc_lib/common/tr.cpp -text
lc_lib/common/tr.h -text
lc_lib/common/view.cpp -text
lc_lib/common/view.h -text
lc_lib/docs/COPYING.txt -text
lc_lib/docs/CREDITS.txt -text
lc_lib/qt/Info.plist -text
lc_lib/qt/lc_qaboutdialog.cpp -text
lc_lib/qt/lc_qaboutdialog.h -text
lc_lib/qt/lc_qaboutdialog.ui -text
lc_lib/qt/lc_qarraydialog.cpp -text
lc_lib/qt/lc_qarraydialog.h -text
lc_lib/qt/lc_qarraydialog.ui -text
lc_lib/qt/lc_qcategorydialog.cpp -text
lc_lib/qt/lc_qcategorydialog.h -text
lc_lib/qt/lc_qcategorydialog.ui -text
lc_lib/qt/lc_qcolorlist.cpp -text
lc_lib/qt/lc_qcolorlist.h -text
lc_lib/qt/lc_qcolorpicker.cpp -text
lc_lib/qt/lc_qcolorpicker.h -text
lc_lib/qt/lc_qeditgroupsdialog.cpp -text
lc_lib/qt/lc_qeditgroupsdialog.h -text
lc_lib/qt/lc_qeditgroupsdialog.ui -text
lc_lib/qt/lc_qfinddialog.cpp -text
lc_lib/qt/lc_qfinddialog.h -text
lc_lib/qt/lc_qfinddialog.ui -text
lc_lib/qt/lc_qglwidget.cpp -text
lc_lib/qt/lc_qglwidget.h -text
lc_lib/qt/lc_qgroupdialog.cpp -text
lc_lib/qt/lc_qgroupdialog.h -text
lc_lib/qt/lc_qgroupdialog.ui -text
lc_lib/qt/lc_qhtmldialog.cpp -text
lc_lib/qt/lc_qhtmldialog.h -text
lc_lib/qt/lc_qhtmldialog.ui -text
lc_lib/qt/lc_qimagedialog.cpp -text
lc_lib/qt/lc_qimagedialog.h -text
lc_lib/qt/lc_qimagedialog.ui -text
lc_lib/qt/lc_qminifigdialog.cpp -text
lc_lib/qt/lc_qminifigdialog.h -text
lc_lib/qt/lc_qminifigdialog.ui -text
lc_lib/qt/lc_qmodellistdialog.cpp -text
lc_lib/qt/lc_qmodellistdialog.h -text
lc_lib/qt/lc_qmodellistdialog.ui -text
lc_lib/qt/lc_qpartstree.cpp -text
lc_lib/qt/lc_qpartstree.h -text
lc_lib/qt/lc_qpovraydialog.cpp -text
lc_lib/qt/lc_qpovraydialog.h -text
lc_lib/qt/lc_qpovraydialog.ui -text
lc_lib/qt/lc_qpreferencesdialog.cpp -text
lc_lib/qt/lc_qpreferencesdialog.h -text
lc_lib/qt/lc_qpreferencesdialog.ui -text
lc_lib/qt/lc_qpropertiesdialog.cpp -text
lc_lib/qt/lc_qpropertiesdialog.h -text
lc_lib/qt/lc_qpropertiesdialog.ui -text
lc_lib/qt/lc_qpropertiestree.cpp -text
lc_lib/qt/lc_qpropertiestree.h -text
lc_lib/qt/lc_qselectdialog.cpp -text
lc_lib/qt/lc_qselectdialog.h -text
lc_lib/qt/lc_qselectdialog.ui -text
lc_lib/qt/lc_qupdatedialog.cpp -text
lc_lib/qt/lc_qupdatedialog.h -text
lc_lib/qt/lc_qupdatedialog.ui -text
lc_lib/qt/lc_qutils.cpp -text
lc_lib/qt/lc_qutils.h -text
lc_lib/qt/leocad.desktop -text
lc_lib/qt/leocad.rc -text
lc_lib/qt/leocad.xml -text
lc_lib/qt/system.cpp -text
lc_lib/resources/action_camera.png -text
lc_lib/resources/action_delete.png -text
lc_lib/resources/action_delete_16.png -text
lc_lib/resources/action_insert.png -text
lc_lib/resources/action_insert_16.png -text
lc_lib/resources/action_light.png -text
lc_lib/resources/action_light_16.png -text
lc_lib/resources/action_move.png -text
lc_lib/resources/action_move_16.png -text
lc_lib/resources/action_next.png -text
lc_lib/resources/action_paint.png -text
lc_lib/resources/action_paint_16.png -text
lc_lib/resources/action_pan.png -text
lc_lib/resources/action_pan_16.png -text
lc_lib/resources/action_previous.png -text
lc_lib/resources/action_roll.png -text
lc_lib/resources/action_rotate.png -text
lc_lib/resources/action_rotate_16.png -text
lc_lib/resources/action_rotate_view.png -text
lc_lib/resources/action_select.png -text
lc_lib/resources/action_select_16.png -text
lc_lib/resources/action_spotlight.png -text
lc_lib/resources/action_spotlight_16.png -text
lc_lib/resources/action_zoom.png -text
lc_lib/resources/action_zoom_16.png -text
lc_lib/resources/action_zoom_extents.png -text
lc_lib/resources/action_zoom_region.png -text
lc_lib/resources/application-vnd.leocad.svg -text
lc_lib/resources/cursor_camera.png -text
lc_lib/resources/cursor_delete.png -text
lc_lib/resources/cursor_insert.png -text
lc_lib/resources/cursor_light.png -text
lc_lib/resources/cursor_move.png -text
lc_lib/resources/cursor_paint.png -text
lc_lib/resources/cursor_pan.png -text
lc_lib/resources/cursor_roll.png -text
lc_lib/resources/cursor_rotate.png -text
lc_lib/resources/cursor_rotate_view.png -text
lc_lib/resources/cursor_rotatex.png -text
lc_lib/resources/cursor_rotatey.png -text
lc_lib/resources/cursor_select.png -text
lc_lib/resources/cursor_select_multiple.png -text
lc_lib/resources/cursor_spotlight.png -text
lc_lib/resources/cursor_zoom.png -text
lc_lib/resources/cursor_zoom_region.png -text
lc_lib/resources/edit_copy.png -text
lc_lib/resources/edit_copy_16.png -text
lc_lib/resources/edit_cut.png -text
lc_lib/resources/edit_cut_16.png -text
lc_lib/resources/edit_find.png -text
lc_lib/resources/edit_lock.png -text
lc_lib/resources/edit_paste.png -text
lc_lib/resources/edit_paste_16.png -text
lc_lib/resources/edit_redo.png -text
lc_lib/resources/edit_redo_16.png -text
lc_lib/resources/edit_rotatestep_absolute_rotation.png -text
lc_lib/resources/edit_rotatestep_relative_rotation.png -text
lc_lib/resources/edit_snap_angle.png -text
lc_lib/resources/edit_snap_move.png -text
lc_lib/resources/edit_transform_absolute_rotation.png -text
lc_lib/resources/edit_transform_absolute_translation.png -text
lc_lib/resources/edit_transform_relative.png -text
lc_lib/resources/edit_transform_relative_rotation.png -text
lc_lib/resources/edit_transform_relative_translation.png -text
lc_lib/resources/edit_undo.png -text
lc_lib/resources/edit_undo_16.png -text
lc_lib/resources/file_new.png -text
lc_lib/resources/file_new_16.png -text
lc_lib/resources/file_open.png -text
lc_lib/resources/file_open_16.png -text
lc_lib/resources/file_picture.png -text
lc_lib/resources/file_print.png -text
lc_lib/resources/file_print_16.png -text
lc_lib/resources/file_print_preview.png -text
lc_lib/resources/file_print_preview_16.png -text
lc_lib/resources/file_save.png -text
lc_lib/resources/file_save_16.png -text
lc_lib/resources/help_email.png -text
lc_lib/resources/help_homepage.png -text
lc_lib/resources/icon64.png -text
lc_lib/resources/leocad.icns -text
lc_lib/resources/leocad.ico -text
lc_lib/resources/leocad.svg -text
lc_lib/resources/leocad_document.icns -text
lc_lib/resources/leocad_fr.qm -text
lc_lib/resources/leocad_fr.ts -text
lc_lib/resources/leocad_pt.qm -text
lc_lib/resources/leocad_pt.ts -text
lc_lib/resources/library.zip -text
lc_lib/resources/minifig.ini -text
lc_lib/resources/piece_show_earlier.png -text
lc_lib/resources/piece_show_later.png -text
lc_lib/resources/time_add_keys.png -text
lc_lib/resources/time_first.png -text
lc_lib/resources/time_last.png -text
lc_lib/resources/time_next.png -text
lc_lib/resources/time_previous.png -text
lc_lib/resources/time_stop.png -text
lc_lib/resources/view_split_horizontal.png -text
lc_lib/resources/view_split_vertical.png -text
lc_lib/resources/view_zoomextents.png -text
lc_lib/tools/icon/document-128.png -text
lc_lib/tools/icon/document-16.png -text
lc_lib/tools/icon/document-256.png -text
lc_lib/tools/icon/document-32.png -text
lc_lib/tools/icon/document-512.png -text
lc_lib/tools/icon/document-64.png -text
lc_lib/tools/icon/leocad-128.png -text
lc_lib/tools/icon/leocad-16.png -text
lc_lib/tools/icon/leocad-24.png -text
lc_lib/tools/icon/leocad-256.png -text
lc_lib/tools/icon/leocad-32.png -text
lc_lib/tools/icon/leocad-48.png -text
lc_lib/tools/icon/leocad-512.png -text
lc_lib/tools/icon/leocad-64.png -text
lc_lib/tools/setup/setup.ico -text
lc_lib/tools/utils/bin2c.c -text
lc_lib/tools/utils/partsgen.cpp -text
lc_lib/tools/utils/zpipe.c -text
ldrawini/ldrawini.c -text
ldrawini/ldrawini.h -text
ldrawini/ldrawini.pri -text
ldrawini/ldrawini.pro -text
ldrawini/ldrawini.vcxproj -text
ldrawini/ldrawini_global.h -text
ldrawini/ldrawinp.h -text
mainApp/LPub.icns -text
mainApp/LPub.ico -text
mainApp/LPub3D.vcxproj -text
mainApp/aboutdialog.cpp -text
mainApp/aboutdialog.h -text
mainApp/aboutdialog.ui -text
mainApp/annotations.cpp -text
mainApp/annotations.h -text
mainApp/application.cpp -text
mainApp/application.h -text
mainApp/archiveparts.cpp -text
mainApp/archiveparts.h -text
mainApp/assemglobals.cpp -text
mainApp/backgrounddialog.cpp -text
mainApp/backgrounddialog.h -text
mainApp/backgrounditem.cpp -text
mainApp/backgrounditem.h -text
mainApp/borderdialog.cpp -text
mainApp/borderdialog.h -text
mainApp/callout.cpp -text
mainApp/callout.h -text
mainApp/calloutbackgrounditem.cpp -text
mainApp/calloutbackgrounditem.h -text
mainApp/calloutglobals.cpp -text
mainApp/color.cpp -text
mainApp/color.h -text
mainApp/commands.cpp -text
mainApp/commands.h -text
mainApp/commonmenus.cpp -text
mainApp/commonmenus.h -text
mainApp/csiitem.cpp -text
mainApp/csiitem.h -text
mainApp/dependencies.cpp -text
mainApp/dependencies.h -text
mainApp/dialogexportpages.cpp -text
mainApp/dialogexportpages.h -text
mainApp/dialogexportpages.ui -text
mainApp/displaypagethread.cpp -text
mainApp/displaypagethread.h -text
mainApp/dividerdialog.cpp -text
mainApp/dividerdialog.h -text
mainApp/editwindow.cpp -text
mainApp/editwindow.h -text
mainApp/extras/LDConfig.ldr -text
mainApp/extras/PDFPrint.jpg -text
mainApp/extras/fadeStepColorParts.lst -text
mainApp/extras/freeformAnnotations.lst -text
mainApp/extras/pli.mpd -text
mainApp/extras/pliSubstituteParts.lst -text
mainApp/extras/titleAnnotations.lst -text
mainApp/fadestepcolorparts.cpp -text
mainApp/fadestepcolorparts.h -text
mainApp/fadestepglobals.cpp -text
mainApp/formatpage.cpp -text
mainApp/globals.h -text
mainApp/gradients.cpp -text
mainApp/gradients.h -text
mainApp/highlighter.cpp -text
mainApp/highlighter.h -text
mainApp/hoverpoints.cpp -text
mainApp/hoverpoints.h -text
mainApp/images/LPub32.png -text
mainApp/images/LPub512Splash.png -text
mainApp/images/LPub64.ico -text
mainApp/images/LPub64.png -text
mainApp/images/actual.png -text
mainApp/images/add.png -text
mainApp/images/addarrow.png -text
mainApp/images/addassembledimage.png -text
mainApp/images/addbom.png -text
mainApp/images/addnext.png -text
mainApp/images/addpicture.png -text
mainApp/images/addprevious.png -text
mainApp/images/addtext.png -text
mainApp/images/appendcoverpage.png -text
mainApp/images/appendlastpage.png -text
mainApp/images/appendpage.png -text
mainApp/images/assemblysetup.png -text
mainApp/images/background.png -text
mainApp/images/bomannotation.png -text
mainApp/images/bomsetup.png -text
mainApp/images/border.png -text
mainApp/images/calloutsetup.png -text
mainApp/images/changedivider.png -text
mainApp/images/changeshape.png -text
mainApp/images/clearcache.png -text
mainApp/images/clearcsi3dcache.png -text
mainApp/images/clearcsicache.png -text
mainApp/images/clearfadecache.png -text
mainApp/images/clearimagemodelcache.png -text
mainApp/images/clearplicache.png -text
mainApp/images/contentspage.png -text
mainApp/images/convertcallout.png -text
mainApp/images/copy.png -text
mainApp/images/cut.png -text
mainApp/images/delete.png -text
mainApp/images/deletearrow.png -text
mainApp/images/deletedivider.png -text
mainApp/images/deletepage.png -text
mainApp/images/display.png -text
mainApp/images/displaycolumn.png -text
mainApp/images/displayrow.png -text
mainApp/images/divider.png -text
mainApp/images/editfadeparts.png -text
mainApp/images/editfreeformannotations.png -text
mainApp/images/editinifile.png -text
mainApp/images/editplisubstituteparts.png -text
mainApp/images/editredo.png -text
mainApp/images/editrotateicon.png -text
mainApp/images/editsetting.png -text
mainApp/images/edittitleannotations.png -text
mainApp/images/editundo.png -text
mainApp/images/emailproblempackage.png -text
mainApp/images/exit.png -text
mainApp/images/exportas.png -text
mainApp/images/exportbmp.png -text
mainApp/images/exportjpeg.png -text
mainApp/images/exportpng.png -text
mainApp/images/fadestepsetup.png -text
mainApp/images/find.png -text
mainApp/images/first.png -text
mainApp/images/fitPage.png -text
mainApp/images/fitVisible.png -text
mainApp/images/fitWidth.png -text
mainApp/images/font.png -text
mainApp/images/fontColour.png -text
mainApp/images/generatefadeparts.png -text
mainApp/images/gplv3.png -text
mainApp/images/ignoresubmodel.png -text
mainApp/images/insertcoverpage.png -text
mainApp/images/insertpage.png -text
mainApp/images/last.png -text
mainApp/images/margins.png -text
mainApp/images/minus.png -text
mainApp/images/new.png -text
mainApp/images/next.png -text
mainApp/images/nextstep.png -text
mainApp/images/nopartslist.png -text
mainApp/images/onlinemanual.png -text
mainApp/images/open.png -text
mainApp/images/pagesetup.png -text
mainApp/images/pagesizeandorientation.png -text
mainApp/images/partslist.png -text
mainApp/images/partslistsetup.png -text
mainApp/images/paste.png -text
mainApp/images/pdf_logo.png -text
mainApp/images/placement.png -text
mainApp/images/pliannotation.png -text
mainApp/images/plus.png -text
mainApp/images/preferences.png -text
mainApp/images/prev.png -text
mainApp/images/previousstep.png -text
mainApp/images/print.png -text
mainApp/images/projectsetup.png -text
mainApp/images/redraw.png -text
mainApp/images/refreshunoffarchive.png -text
mainApp/images/remove.png -text
mainApp/images/removelpubformat.png -text
mainApp/images/resetcache.png -text
mainApp/images/resetsetting.png -text
mainApp/images/rotate.png -text
mainApp/images/rotateicon.png -text
mainApp/images/save.png -text
mainApp/images/saveas.png -text
mainApp/images/savemetacommands.png -text
mainApp/images/scale.png -text
mainApp/images/selectall.png -text
mainApp/images/softwareupdate.png -text
mainApp/images/sortPli.png -text
mainApp/images/splitbom.png -text
mainApp/images/stepgroupsetup.png -text
mainApp/images/treataspart.png -text
mainApp/images/unpackcallout.png -text
mainApp/images/unrotate.png -text
mainApp/images/zoomin.png -text
mainApp/images/zoomout.png -text
mainApp/ldrawfiles.cpp -text
mainApp/ldrawfiles.h -text
mainApp/ldsearchdirs.cpp -text
mainApp/ldsearchdirs.h -text
mainApp/license.gpl3 -text
mainApp/lpub.cpp -text
mainApp/lpub.h -text
mainApp/lpub.qrc -text
mainApp/lpub.rc -text
mainApp/lpub_preferences.cpp -text
mainApp/lpub_preferences.h -text
mainApp/main.cpp -text
mainApp/mainApp.pro -text
mainApp/meta.cpp -text
mainApp/meta.h -text
mainApp/metagui.cpp -text
mainApp/metagui.h -text
mainApp/metaitem.cpp -text
mainApp/metaitem.h -text
mainApp/metatypes.h -text
mainApp/multistepglobals.cpp -text
mainApp/name.h -text
mainApp/numberitem.cpp -text
mainApp/numberitem.h -text
mainApp/openclose.cpp -text
mainApp/pageattributepixmapitem.cpp -text
mainApp/pageattributepixmapitem.h -text
mainApp/pageattributetextitem.cpp -text
mainApp/pageattributetextitem.h -text
mainApp/pagebackgrounditem.cpp -text
mainApp/pagebackgrounditem.h -text
mainApp/pageglobals.cpp -text
mainApp/pageorientationdialog.cpp -text
mainApp/pageorientationdialog.h -text
mainApp/pagesizedialog.cpp -text
mainApp/pagesizedialog.h -text
mainApp/pairdialog.cpp -text
mainApp/pairdialog.h -text
mainApp/parmshighlighter.cpp -text
mainApp/parmshighlighter.h -text
mainApp/parmswindow.cpp -text
mainApp/parmswindow.h -text
mainApp/paths.cpp -text
mainApp/paths.h -text
mainApp/placement.cpp -text
mainApp/placement.h -text
mainApp/placementdialog.cpp -text
mainApp/placementdialog.h -text
mainApp/pli.cpp -text
mainApp/pli.h -text
mainApp/pliannotationdialog.cpp -text
mainApp/pliannotationdialog.h -text
mainApp/pliconstraindialog.cpp -text
mainApp/pliconstraindialog.h -text
mainApp/pliglobals.cpp -text
mainApp/plisortdialog.cpp -text
mainApp/plisortdialog.h -text
mainApp/plisubstituteparts.cpp -text
mainApp/plisubstituteparts.h -text
mainApp/pointer.h -text
mainApp/pointeritem.cpp -text
mainApp/pointeritem.h -text
mainApp/preferences.ui -text
mainApp/preferencesdialog.cpp -text
mainApp/preferencesdialog.h -text
mainApp/printpdf.cpp -text
mainApp/projectglobals.cpp -text
mainApp/range.cpp -text
mainApp/range.h -text
mainApp/range_element.cpp -text
mainApp/range_element.h -text
mainApp/ranges.cpp -text
mainApp/ranges.h -text
mainApp/ranges_element.cpp -text
mainApp/ranges_element.h -text
mainApp/ranges_item.cpp -text
mainApp/ranges_item.h -text
mainApp/render.cpp -text
mainApp/render.h -text
mainApp/reserve.h -text
mainApp/resize.cpp -text
mainApp/resize.h -text
mainApp/resolution.cpp -text
mainApp/resolution.h -text
mainApp/rotate.cpp -text
mainApp/rotateiconitem.cpp -text
mainApp/rotateiconitem.h -text
mainApp/rx.cpp -text
mainApp/rx.h -text
mainApp/scaledialog.cpp -text
mainApp/scaledialog.h -text
mainApp/sizeandorientationdialog.cpp -text
mainApp/sizeandorientationdialog.h -text
mainApp/splashscreen.cpp -text
mainApp/splashscreen.h -text
mainApp/step.cpp -text
mainApp/step.h -text
mainApp/textitem.cpp -text
mainApp/textitem.h -text
mainApp/threadWorkers.cpp -text
mainApp/threadWorkers.h -text
mainApp/traverse.cpp -text
mainApp/undoredo.cpp -text
mainApp/unistd.h -text
mainApp/updatecheck.cpp -text
mainApp/updatecheck.h -text
mainApp/version.h -text
mainApp/where.h -text
qsimpleupdater/QSimpleUpdater.pri -text
qsimpleupdater/doc/COPYING.md -text
qsimpleupdater/doc/README.md -text
qsimpleupdater/res/LPub96.png -text
qsimpleupdater/res/qsu_resources.qrc -text
qsimpleupdater/res/update.png -text
qsimpleupdater/src/downloader.cpp -text
qsimpleupdater/src/downloader.h -text
qsimpleupdater/src/downloader.ui -text
qsimpleupdater/src/progress_dialog.cpp -text
qsimpleupdater/src/progress_dialog.h -text
qsimpleupdater/src/progress_dialog.ui -text
qsimpleupdater/src/qsimpleupdater.cpp -text
qsimpleupdater/src/qsimpleupdater.h -text
qsimpleupdater/src/updater.cpp -text
qsimpleupdater/src/updater.h -text
qslog/LICENSE.txt -text
qslog/QsLog.cpp -text
qslog/QsLog.h -text
qslog/QsLog.pri -text
qslog/QsLogChanges.txt -text
qslog/QsLogDest.cpp -text
qslog/QsLogDest.h -text
qslog/QsLogDestConsole.cpp -text
qslog/QsLogDestConsole.h -text
qslog/QsLogDestFile.cpp -text
qslog/QsLogDestFile.h -text
qslog/QsLogDestFunctor.cpp -text
qslog/QsLogDestFunctor.h -text
qslog/QsLogDisableForThisFile.h -text
qslog/QsLogLevel.h -text
qslog/QsLogReadme.txt -text
qslog/README.md -text
qslog/qslog.pro -text
quazip/JlCompress.cpp -text
quazip/JlCompress.h -text
quazip/crypt.h -text
quazip/ioapi.h -text
quazip/qioapi.cpp -text
quazip/quaadler32.cpp -text
quazip/quaadler32.h -text
quazip/quachecksum32.h -text
quazip/quacrc32.cpp -text
quazip/quacrc32.h -text
quazip/quagzipfile.cpp -text
quazip/quagzipfile.h -text
quazip/quaziodevice.cpp -text
quazip/quaziodevice.h -text
quazip/quazip.cpp -text
quazip/quazip.h -text
quazip/quazip.pri -text
quazip/quazip.pro -text
quazip/quazip.vcxproj -text
quazip/quazip_global.h -text
quazip/quazipdir.cpp -text
quazip/quazipdir.h -text
quazip/quazipfile.cpp -text
quazip/quazipfile.h -text
quazip/quazipfileinfo.cpp -text
quazip/quazipfileinfo.h -text
quazip/quazipnewinfo.cpp -text
quazip/quazipnewinfo.h -text
quazip/unzip.c -text
quazip/unzip.h -text
quazip/zip.c -text
quazip/zip.h -text
tools/Win-setup/00[!!-~]BuildLPub3D00AndCreateDistNoPack.bat -text
tools/Win-setup/BuildVersionsTemplate.txt -text
tools/Win-setup/Copyright-Source-Header.txt -text
tools/Win-setup/EnumUsersReg.nsh -text
tools/Win-setup/LDraw_Archive_Download.bat -text
tools/Win-setup/LPub3DMinGWNoPack.nsi -text
tools/Win-setup/LPub3DNoPack.nsi -text
tools/Win-setup/LPub3DViewer_LDrawunf_Archive_Generator.bat -text
tools/Win-setup/build_inc.bat -text
tools/Win-setup/build_json_insert.bat -text
tools/Win-setup/nsisFunctions.nsh -text
tools/Win-setup/setup.ico -text
tools/Win-setup/un.EnumUsersReg.nsh -text
tools/Win-setup/welcome.bmp -text
tools/cert/6f64ef1edb27e83c73f2c76b5b8a6854.cer -text
tools/cert/6f64ef1edb27e83c73f2c76b5b8a6854.pem -text
tools/cert/lpub3dPrivateKey.p12 -text
tools/docs/COPYING.txt -text
tools/docs/CREDITS.txt -text
tools/docs/Copyright-Source-Header.txt -text
tools/docs/LPub3D-Config-Notes.txt -text
tools/docs/README.txt -text
tools/docs/gplv3-127x51.png -text
tools/icons/LPub.icns -text
tools/icons/LPub128.png -text
tools/icons/LPub16.png -text
tools/icons/LPub256.png -text
tools/icons/LPub32.png -text
tools/icons/LPub48.png -text
tools/icons/LPub512.png -text
tools/icons/LPub64.ico -text
tools/icons/LPub64.png -text
tools/icons/LPub96.png -text
tools/icons/setup.icns -text
tools/icons/setup.ico -text
tools/release/json/complete.json -text
tools/release/json/lpub3dldrawunf.json -text
