language: cpp
sudo: required
dist: trusty

cache: ccache

notifications:
  email:
    on_success: never
    on_failure: always

matrix:
 include:
  - os: linux
    compiler: gcc
    env:
     - QT_BASE=57
  - os: osx
    compiler: clang
    env:
     - QT_BASE=57

addons:
  apt:
    packages:
    - freeglut3-dev
    - libOSMesa-dev

before_install:

  - if [ "$QT_BASE" = "52" ]; then sudo add-apt-repository ppa:beineri/opt-qt521-trusty -y; fi
  - if [ "$QT_BASE" = "53" ]; then sudo add-apt-repository ppa:beineri/opt-qt532-trusty -y; fi
  - if [ "$QT_BASE" = "54" ]; then sudo add-apt-repository ppa:beineri/opt-qt542-trusty -y; fi
  - if [[ "$QT_BASE" = "55" && "$TRAVIS_OS_NAME" = "linux" ]]; then sudo add-apt-repository ppa:beineri/opt-qt551-trusty -y; fi
  - if [ "$QT_BASE" = "56" ]; then sudo add-apt-repository ppa:beineri/opt-qt562-trusty -y; fi
  - if [[ "$QT_BASE" = "57" && "$TRAVIS_OS_NAME" = "linux" ]]; then sudo add-apt-repository ppa:beineri/opt-qt571-trusty -y; fi
  - if [[ "$QT_BASE" = "58" && "$TRAVIS_OS_NAME" = "linux" ]]; then sudo add-apt-repository ppa:beineri/opt-qt58-trusty -y; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      sudo apt-get update -qq;
    else
      brew update;
    fi

install:
  - if [ "$QT_BASE" = "52" ]; then sudo apt-get install -qq qt52base; source /opt/qt52/bin/qt52-env.sh; fi
  - if [ "$QT_BASE" = "53" ]; then sudo apt-get install -qq qt53base; source /opt/qt53/bin/qt53-env.sh; fi
  - if [ "$QT_BASE" = "54" ]; then sudo apt-get install -qq qt54base; source /opt/qt54/bin/qt54-env.sh; fi
  - if [ "$QT_BASE" = "55" ]; then
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt-get install -qq qt55base; source /opt/qt55/bin/qt55-env.sh;
      else
        brew install qt55;
        brew link --force qt55;
      fi
    fi
  - if [ "$QT_BASE" = "56" ]; then sudo apt-get install -qq qt56base; source /opt/qt56/bin/qt56-env.sh; fi
  - if [ "$QT_BASE" = "57" ]; then
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt-get install -qq qt57base; source /opt/qt57/bin/qt57-env.sh;
      else
        brew install qt5;
        brew link --force qt5;
      fi
    fi
  - if [ "$QT_BASE" = "58" ]; then
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt-get install -qq qt58base; source /opt/qt58/bin/qt58-env.sh;
      else
        brew install qt5;
        brew link --force qt5;
      fi
    fi
  - # Acutal LDraw archive libraries are disabled with test files used for 'make' only compilation.
  - # Use actual archives if you will run 'make install'
  - # wget http://www.ldraw.org/library/updates/complete.zip;
  - # wget http://www.ldraw.org/library/unofficial/ldrawunf.zip;
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      wget https://github.com/trevorsandy/lpub3d/releases/download/v2.0.0/test001.zip -O complete.zip;
      mv complete.zip mainApp/extras/complete.zip;
      wget https://github.com/trevorsandy/lpub3d/releases/download/v2.0.0/test002.zip -O lpub3dldrawunf.zip;
      mv lpub3dldrawunf.zip mainApp/extras/lpub3dldrawunf.zip;
    fi

script:
  - qmake -v
  - qmake -r
  - make
