Source: lpub3d
Section: graphics
Priority: optional
Maintainer: Trevor SANDY <trevor.sandy@gmail.com>
Build-Depends: debhelper (>= 4.1.16), unzip, build-essential, autotools-dev, autoconf, automake, pkg-config, libtool, cmake, libglu-dev, qttools5-dev-tools, qtbase5-dev, qt5-qmake, libqt5opengl5-dev, libpng-dev, libjpeg-dev, zlib1g-dev, libgl1-mesa-dev, libopenexr-dev, libboost-dev, libboost-date-time-dev, libboost-thread-dev, libsdl2-dev, libtiff5-dev, libosmesa6-dev, freeglut3-dev, libtinyxml-dev, libgl2ps-dev, libminizip-dev, libx11-dev, libsndio-dev, llvm-dev, libncurses-dev, libtinfo-dev, libexpat1-dev, python3-mako
Standards-Version: 3.9.7
Homepage: https://trevorsandy.github.io/lpub3d/

Package: lpub3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LDraw™ editor for LEGO® style digital building instructions.
 LPub3D is an Open Source WYSIWYG editing application for creating
 LEGO® style digital building instructions. LPub3D is developed and
 maintained by Trevor SANDY. It uses the LDraw™ parts library, the
 most comprehensive library of digital Open Source LEGO® bricks
 available (www.ldraw.org/ ) and reads the LDraw LDR and MPD model
 file formats. LPub3D is available for free under the GNU Public License v3
 and runs on Windows, Linux and macOS Operating Systems.
 LPub3D is also available as a Linux 'no-install', multi-platform AppImage.
 Portions of LPub3D are based on LPUB© 2007-2009 Kevin Clague,
 LeoCAD© 2025 Leonardo Zide.and additional third party components.
 LEGO® is a trademark of the LEGO Group of companies which does not
 sponsor, authorize or endorse this application.
 Copyright © 2015 - 2025 Trevor SANDY
